@import '../vars.scss';

.wrapper {
    width: 100%;
    margin: 10px 0 30px;
    // overflow: scroll;
}

.title {
    color: $color-grey;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &_text {
        font-size: 1.25rem;
        font-weight: 600;
    }

    &_counter {
        font-weight: 500;
    }
}

.products {
    display: flex;
    overflow: scroll;
}